body {
  background-color: #fcfcfd;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  padding: 0 1.4%;
  max-width: 1680px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.4% 9%;
  flex-wrap: wrap;
}

.label,
.recepies,
.cookbooks,
.search,
.create-button,
.user {
  display: flex;
  align-items: center;
}

.recepies a,
.cookbooks a,
.user a{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #181818;
  text-decoration: none;
}

.label__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #181818;
}

.label__text-yellow {
  color: #FFBC01;
}

.label__icon-wrapper:hover svg {
  transform: rotate(16deg);
  transition: .4s;
}

.search input {
  width: 264px;
  height: 40px;
  background: #F7F7F7;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding-left: 25px;
}

.search svg {
  margin-right: -20px;
  z-index: 2;
}

.create-button button {
  width: 225px;
  height: 54px;
  background-color: #fcfcfd;
  border: 2px solid #FFBC01;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFBC01;
}

.recepies a:hover,
.cookbooks a:hover,
.user a:hover{
  cursor: pointer;
  color: #FFBC01;
  text-decoration: underline;
}

.create-button button:hover {
  background-color: #FFBC01;
  color: #181818;
  cursor: pointer;
}

.search,
.search input {
  cursor: pointer;
}

.main-cookbooks {
  display: flex;
  padding: 0 9%;
  margin-top: 50px;
}

.filter {
  width: 238px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 32px 24px;
  max-height: 300px;
  margin-right: 70px;
}

.filter__label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter__label p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.filter__label span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFBC01;
}

.filter__sort {
  margin-top: 32px;
}

.filter__sort select {
  width: 224px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 4px;
  margin-top: 16px;
  outline: none;
}

.filter__cookbook-type,
.filter__hide {
  margin-top: 24px;
}

.filter__sort p,
.filter__cookbook-type p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #181818;
}

.filter__cookbook-type p {
  margin-bottom: 16px;
}

.filter label {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #181818;
}

.checkbox-custom {
	position: relative;
	padding-left: 25px;
}

.checkbox-custom input[type=checkbox] {
	display: none;
}

.checkbox-custom label:after {
	content: '';
	display: block;
	height: 16px;
	width: 16px;
	border: 1px solid #939598;
	position: absolute;
	top: 0;
	left: 0;
  border-radius: 3px;
}

.checkbox-custom input[type=checkbox]:checked + label:after {
	border: 1px solid #FFBC01;
	width: 16px;
	height: 16px;
	background-color: #FFBC01;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="10" height="9" viewBox="0 0 10 9" fill="none"> <path d="M1 5.16667L3.66667 7.5L9 1.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.cookbooks-show__navigation {
  display: flex;
  max-width: 258px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cookbooks-show__navigation a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.cookbooks-show__navigation a:hover {
  color: #FFBC01;
}

.navigation__link-active {
  border-bottom: 2px solid #FFBC01;
}

.cookbooks-show__cookbooks-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cookbooks-cards__card {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 240px;
  padding: 24px;
  margin-top: 10px;
}

.cookbooks-cards__card:hover {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.24);
}

.cookbooks-cards__card:hover path{
  fill: #FFBC01;
}

.cookbooks-cards__card:hover {
  cursor: pointer;
}

.header__views span,
.footer__likes span,
.footer__comments span,
.main-info__author,
.card__description p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #181818;
}


.main-info__author {
  align-self: end;
}

.card__description {
  margin-top: 16px;
}

.header__more {
  display: flex;
  justify-content: center;
}

.card__picture {
  margin-top: 16px;
  border-radius: 50px 10px;
}

.card__main-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

.main-info__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.card__footer {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__wrapper {
  margin-top: 30px;
  background-color: #181818;
}

.footer {
  display: flex;
  max-width: 1900px;
  justify-content: space-between;
  padding: 20px 17%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.label__text-white {
  color: #fcfcfd;
}

.footer__item {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer__item p{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #F7F7F7;
}

.footer__item-mail p{
  color: #FFBC01;
}

.footer__item p:hover {
  cursor: pointer;
  color: #FFBC01;
  text-decoration: underline;
}






@media screen and (min-width: 1450px) and (max-width: 1871px) {
  
}

@media screen and (min-width: 1260px) and (max-width: 1449px) {
  
}

@media screen and (min-width: 787px) and (max-width: 1259px) {
  .main-cookbooks {
    flex-direction: column;
  }

  .cookbooks-show__navigation {
    margin-top: 40px;
    max-width: 284px;
  }
}

@media screen and (min-width: 0px) and (max-width: 786px) {
  .main-cookbooks {
    flex-direction: column;
  }

  .cookbooks-show__navigation {
    margin-top: 40px;
    max-width: 284px;
  }
}