body {
  margin: 0 auto;
}

p {
  margin: 0;
}

.cookbook-detailed-info__wrapper {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.cookbook-detailed-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 1016px;
  height: 650px;
  text-align: center;
  margin: auto;
}

.cookbook-detailed-info__wrapper:target {
  display: block;
}

.info-main {
  background: #FFFFFF;
  box-shadow: 0px 18px 60px rgba(24, 24, 24, 0.7);
  border-radius: 10px;
  margin-top: 50px;
  padding: 72px 56px;
  text-align: initial;
}

.info-main__label {
  display: flex;
  justify-content: space-between;
}

.info-main__label p {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
max-width: 500px;
color: #181818;
}

.info-main__label button {
  padding: 12px 32px;
  height:max-content;
  background: #FFBC01;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.info-main__label button:hover {
  cursor: pointer;
  color: white;
}

.info-main__author {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFBC01;
  margin-top: 16px;
}

.info-main__cookbook-description {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.cookbook-description__cookbook-info {
  width: 46%;
}

.cookbook-description__cookbook-info p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
  margin-bottom: 10px;
}

.cookbook-description__cookbook-info span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #181818;
}

.info-main__reactions-details {
  display: flex;
  margin-top: 20px;
}

.reactions-details__likes,
.reactions-details__comments {
  display: flex;
  justify-content: center;
}

.reactions-details__likes span,
.reactions-details__comments span {
  margin-left: 4px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.reactions-details__comments {
  margin-left: 10px;
}

.info-main__recepies-in-book {
  margin-top: 50px;
}

.info-main__recepies-in-book p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.recepies-in-book__recepies-in-book-cards {
  margin-top: 40px;
}

.recepies-in-book-cards__recepies-card {
  height: 212px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 50px 10px 10px 10px;
  display: flex;
  margin-bottom: 25px;
}

.recepies-card__recepies-card-main {
  margin: 15px;
}

.recepies-card-main__recepies-card-main-reactions {
  margin-top: 30px;
}

.recepies-card-main__title,
.recepies-card-main__recepies-card-main-reactions,
.recepies-card-main__recepies-card-main-reactions > div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.recepies-card-main__title p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.recepies-card-main__title span, 
.recepies-card-main__info span,
.recepies-card-main__recepies-card-main-reactions span{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #181818;
}

.recepies-card-main__info {
  margin-top: 10px;
}

.recepies-card-main__recepies-card-main-reactions div div{
  margin-right: 30px;
}

.recepies-card-main-reactions__save button {
  width: 109px;
  height: 54px;
  border: 2px solid #FFBC01;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFBC01;
  background-color: transparent;
}

.recepies-card-main-reactions__save button:hover {
  color: #181818;
  background-color: #FFBC01;
  cursor: pointer;
}

.info-main__comments {
  margin-top: 70px;
}

.info-main__comments > p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.comments__send-comment {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.comments__send-comment input{
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  width: 88%;
  height: 40px;
}

.comments__send-comment button {
  width: 88px;
  height: 40px;
  background: #FFBC01;
  border-radius: 10px;
  outline: none;
  border: none;
}

.comments__send-comment button:hover {
  cursor: pointer;
}

.comments__send-comment button:hover svg path{
  fill: black;
}

.last-comments__comment {
  margin-top: 40px;
  display: flex;
  max-width: 88%;
}

.last-comments__comment img{
  margin-right: 10px;
}

.comment__main-text div{
  display: flex;
  justify-content: space-between;
}

.comment__main-text p {
  margin-top: 10px;
}

.comment__main-text div span,
.comment__main-text p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.comment__main-text div span:first-child {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width: 0px) and (max-width: 841px) {
  .info-main__label {
    flex-direction: column;
  }

  .info-main__label button {
    margin-top: 10px;
  }
  
  .info-main__cookbook-description {
    flex-direction: column;
    text-align: center;
  }

  .cookbook-description__cookbook-photo img{
    width: 100%;
  }

  .cookbook-description__cookbook-info {
    width: 100%;
  }

  .recepies-in-book__recepies-in-book-cards {
    margin: 0 auto;
  }

  .recepies-in-book-cards__recepies-card {
    flex-direction: column;
    height: 532px;
    width: 290px;
  }

  .recepies-card-main__recepies-card-main-reactions div:first-child {
    flex-direction: column;
    align-items: flex-start;
  }
}