body {
  margin: 0 auto;
}

p {
  margin: 0;
}

.cookbook-detailed-info__wrapper {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.cookbook-detailed-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 1016px;
  height: 650px;
  text-align: center;
  margin: auto;
}

.cookbook-detailed-info__wrapper:target {
  display: block;
}

.info-main {
  background: #FFFFFF;
  box-shadow: 0px 18px 60px rgba(24, 24, 24, 0.7);
  border-radius: 50px 10px 10px 10px;
  margin-top: 50px;
  /*padding: 72px 56px;*/
  text-align: initial;
}

.details-of-recepi__recipe-image > img {
  border-radius: 50px 0px 10px;
}

.info-main__details-of-recepi {
  display: flex;
}

.details-of-recepi__recipe-description {
  padding: 72px 56px 0px 40px;
}

.recipe-description__recipe-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 16px;
}

.recipe-description__recipe-author {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFBC01;
}


.recipe-description__recipe-description-label,
.recipe-creation__directions p,
.recipe-creation__ingridients p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 32px;
}


.recipe-creation__ingridients li {
  color: #FFBC01;
}

.recipe-description__recipe-description-text,
.recipe-creation__directions span,
.recipe-creation__ingridients li span{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 4px;
  color: #181818;
}

.recipe-description__recipe-creation {
  display: flex;
}

.recipe-creation__directions {
  width: 40%;
}

.recipe-creation__directions span{
  display: block;
}

.recipe-description__recipe-reactions {
  display: flex;
  margin-top: 45px;
}

.recipe-reactions__views,
.recipe-reactions__likes,
.recipe-reactions__comments {
  display: flex;
  justify-content: center;
  margin-left: 24px;
}

.recipe-reactions__views span,
.recipe-reactions__likes span,
.recipe-reactions__comments span {
  margin-left: 8px;
}

.info-main__comments {
  margin-top: 20px;
  padding: 72px 56px;
}

.info-main__comments > p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.comments__send-comment {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.comments__send-comment input{
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  width: 88%;
  height: 40px;
}

.comments__send-comment button {
  width: 88px;
  height: 40px;
  background: #FFBC01;
  border-radius: 10px;
  outline: none;
  border: none;
}

.comments__send-comment button:hover {
  cursor: pointer;
}

.comments__send-comment button:hover svg path{
  fill: black;
}

.last-comments__comment {
  margin-top: 40px;
  display: flex;
  max-width: 88%;
}

.last-comments__comment img{
  margin-right: 10px;
}

.comment__main-text div{
  display: flex;
  justify-content: space-between;
}

.comment__main-text p {
  margin-top: 10px;
}

.comment__main-text div span,
.comment__main-text p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.comment__main-text div span:first-child {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width: 410px) and (max-width: 841px) {
  .info-main__details-of-recepi {
    flex-direction: column;
  }

  .details-of-recepi__recipe-image img{
    width: 100%;
    height: 600px;
  }
}

@media screen and (min-width: 0px) and (max-width: 409px) {
  .info-main__details-of-recepi {
    flex-direction: column;
  }

  .details-of-recepi__recipe-image img{
    width: 100%;
    height: 600px;
  }

  .recipe-description__recipe-creation {
    flex-direction: column;
  }

  .recipe-creation__directions {
    width: 100%;
  }

  .recipe-description__recipe-reactions {
    flex-direction: column;
  }

  .recipe-reactions__views,
  .recipe-reactions__likes,
  .recipe-reactions__comments {
    justify-content:start;
    margin-left: 0px;
  }
}
