body {
  background-color: #fcfcfd;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  padding: 0 1.4%;
  max-width: 1680px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.4% 9%;
  flex-wrap: wrap;
}

.label,
.recepies,
.cookbooks,
.search,
.create-button,
.user {
  display: flex;
  align-items: center;
}

.recepies a,
.cookbooks a,
.user a{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #181818;
  text-decoration: none;
}

.label__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #181818;
}

.label__text-yellow {
  color: #FFBC01;
}

.label__icon-wrapper:hover svg {
  transform: rotate(16deg);
  transition: .4s;
}

.search input {
  width: 264px;
  height: 40px;
  background: #F7F7F7;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding-left: 25px;
}

.search svg {
  margin-right: -20px;
  z-index: 2;
}

.create-button button {
  width: 225px;
  height: 54px;
  background-color: #fcfcfd;
  border: 2px solid #FFBC01;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFBC01;
}

.recepies a:hover,
.cookbooks a:hover,
.user a:hover{
  cursor: pointer;
  color: #FFBC01;
  text-decoration: underline;
}

.create-button button:hover {
  background-color: #FFBC01;
  color: #181818;
  cursor: pointer;
}

.search,
.search input {
  cursor: pointer;
}

.user-main {
  display: flex;
  padding: 0 9%;
  margin-top: 80px;
}

.user-main__photo {
  margin-right: 30px;
}

.user-main__info p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 450px;
}

.user-main__info h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin: 10px 0;
}

.cookbooks-show {
  padding: 0 9%;
}

.cookbooks-show__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.navigation-right {
  display: flex;
  width: 578px;
  justify-content: space-between;
  text-align: center;
}

.navigation-right a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
  display: flex;
  align-self: flex-end;
}

.navigation-right a:hover {
  color: #FFBC01;
}

.navigation__link-active {
  border-bottom: 2px solid #FFBC01;
}

.cookbooks-show__navigation button {
  width: 273px;
  height: 62px;
  background: #FFBC01;
  border-radius: 10px;
  border: 0;
  outline: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.cookbooks-show__navigation button:hover {
  cursor: pointer;
}

.cookbooks-show__cookbooks-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cookbooks-cards__card {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 240px;
  padding: 24px;
  margin-top: 10px;
}

.cookbooks-cards__card:hover {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.24);
}

.cookbooks-cards__card:hover path{
  fill: #FFBC01;
}

.cookbooks-cards__card:hover {
  cursor: pointer;
}

.header__views span,
.footer__likes span,
.footer__comments span,
.main-info__author,
.card__description p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #181818;
}

.main-info__author {
  align-self: end;
}

.card__description {
  margin-top: 16px;
}

.header__more {
  display: flex;
  justify-content: center;
}

.card__picture {
  margin-top: 16px;
  border-radius: 50px 10px;
}

.card__main-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

.main-info__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.card__footer {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__wrapper {
  margin-top: 30px;
  background-color: #181818;
}

.footer {
  display: flex;
  max-width: 1900px;
  justify-content: space-between;
  padding: 20px 17%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.label__text-white {
  color: #fcfcfd;
}

.footer__item {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer__item p{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #F7F7F7;
}

.footer__item-mail p{
  color: #FFBC01;
}

.footer__item p:hover {
  cursor: pointer;
  color: #FFBC01;
  text-decoration: underline;
}






@media screen and (min-width: 1450px) and (max-width: 1871px) {
  
}

@media screen and (min-width: 1260px) and (max-width: 1449px) {
  
}

@media screen and (min-width: 787px) and (max-width: 1259px) {
  .cookbooks-show__navigation {
    flex-direction: column;
  }
  .navigation-right {
    width: 100%;
    flex-direction: column;
    margin: 20px 0;
  }
  .navigation-right a {
    align-self: flex-start;
  }
}

@media screen and (min-width: 0px) and (max-width: 786px) {
  .cookbooks-show__navigation {
    flex-direction: column;
  }
  .navigation-right {
    width: 100%;
    flex-direction: column;
    margin: 20px 0;
  }
  .navigation-right a {
    align-self: flex-start;
  }
  .user-main {
    flex-direction: column;
    text-align: center;
  }
  .user-main__photo {
    margin-right: 0px;
  }
}